*.jar

*.tmp
*.tmp.owl
*.tmp.ttl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
src/ontology/dido.owl
src/ontology/dido.ttl
src/ontology/dido.json
src/ontology/dido-base.*
src/ontology/dido-basic.*
src/ontology/dido-full.*
src/ontology/dido-simple.*
src/ontology/dido-simple-non-classified.*

src/ontology/seed.txt
src/ontology/pre_seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-dido-edit.owl

src/ontology/target/
src/ontology/tmp/*

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt